[RSC_COLLECT]
className=RscCollect
onceTheFirst=true

#[OBJT_COLLECT]
#className=ObjtCollect
#standAlone=true
#onceTheFirst=true

[OBJT_COLLECT]
className=ObjtCollect
standAlone=true
onceTheFirst=true

[ACTV_COLLECT]
className=ActvCollect
onceTheFirst=true

[HCHK_COLLECT]
className=HchkCollect
standAlone=true
collectPeriod=3

[START_COLLECT]
className=StartCollect
onceTheFirst=true

[REPL_COLLECT]
className=ReplCollect
onceTheFirst=true

#[HCHK_COLLECT]
#className=HchkCollect
#standAlone=true
#collectPeriod=3

[STATEMENT_COLLECT]
className=StmtCollect
standAlone=true
onceTheFirst=true

[RSTATEMENT_COLLECT]
className=RTStmtCollect
onceTheFirst=true

#[TB_CPU_STAT_MASTER]
#type=Task1
#select.01=BT_CPU_STAT_MASTER_001
#paramColumn=CURRENT_USER_UTIL, CURRENT_NICE_UTIL, CURRENT_SYS_UTIL, CURRENT_IDLE_UTIL, CURRENT_WAIT_UTIL



#[TB_REQUEST_ACTIVITY]
#type=Task2
