<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="system">
	<select id="TB_INSTANCE_INFO_R001" resultType="hashmap" flushCache="true">
		select INSTANCE_ID, 
		       SERVER_IP, 
		       SERVICE_PORT, 
		       CONN_USER_ID, 
		       CONN_USER_PWD, 
		       COLLECT_PERIOD_SEC, 
		       RTSTMT_PERIOD_SEC, 
		       HCHK_PERIOD_SEC,
		       SNAP_PERIOD_MIN, 
		       CONN_DB_NAME,
		       PG_VERSION, 
		       EXTENSIONS,
		       SPLIT_PART(SPLIT_PART(PG_VERSION, ' ', 2), '.', 1)  || '.' || SPLIT_PART(SPLIT_PART(PG_VERSION, ' ', 2), '.', 2) AS PG_VERSION_MIN,
		       LAST_MOD_DT,
		       CONN_SCHEMA_NAME
		  from TB_INSTANCE_INFO
		 where COLLECT_YN = 'Y'
		   and DELETE_YN = 'N'
		order by instance_id
	</select>
	
	<select id="TB_INSTANCE_INFO_R002" resultType="hashmap">
		select INSTANCE_ID, 
		       LAST_MOD_DT
		  from TB_INSTANCE_INFO
		order by LAST_MOD_DT DESC
		limit 1
	</select>
	
	<select id="TB_INSTANCE_INFO_R003" resultType="hashmap">
	SELECT instance_id 
		FROM tb_instance_info
		where COLLECT_YN = 'Y'
		  and DELETE_YN = 'N'
		OFFSET floor(random()*		
						(SELECT count(instance_id) 
						  FROM tb_instance_info
						 WHERE COLLECT_YN = 'Y'
						   AND DELETE_YN = 'N')
					)
		LIMIT 1
	</select>	
	
	<select id="TB_CONFIG_R001" resultType="hashmap">
		SELECT DAILY_BATCH_START_TIME, 
		       HCHK_PERIOD_SEC,
		       OBJT_PERIOD_SEC,	
		       STMT_PERIOD_SEC,	
		       TO_CHAR(NOW(), 'HH24:MI:SS') NOW_TIME
	      FROM TB_CONFIG
	</select>
	
	<select id="TB_CONFIG_R002" resultType="hashmap">
		SELECT SERIAL_KEY,
		       AGENT_IP,
		       AGENT_PORT
	      FROM TB_CONFIG
	</select>	
	
	<select id="TB_SYS_LOG_R001" resultType="hashmap">
		SELECT REG_DATE,
		       TASK_CD,
		       STATUS
	          FROM TB_SYS_LOG
		 WHERE REG_DATE = TO_CHAR(NOW(), 'YYYYMMDD')
		   AND TASK_CD = '2'	
	</select>	
</mapper>